<div class="container mothInLeftUp">
	<form class="form-signin">
		<h2 class="form-signin-heading">Please register</h1>
			<input type="text" class="input-block-level" placeholder="user@spider.web" data-ng-model="name"/>
			<input type="password" class="input-clock-level" placeholder="password" data-ng-model="password"/>
			<input type="password" class="input-clock-level" placeholder="passwordcheck" data-ng-model="passwordcheck"/>
			<label class="checkbox">
				<input type="checkbox" value="rememberme" data-ng-model="rememberme"/> Remember me
			</label>
			<button class="btn btn-large btn-warning" type="submit" data-ng-click="register(name,password,passwordcheck,rememberme);">Register</button>
	</form>
</div>
